<a href="https://colab.research.google.com/github/Shashwat-spyder/Netflix-movies-and-tv-shows-recommendation-system/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [172]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import OneHotEncoder

In [173]:
from google.colab import drive
drive.mount('/content/Drive')

Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).

In [174]:
netflix_df=pd.read_csv('/content/Drive/My Drive/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv')

In [175]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [176]:
netflix_df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [177]:
netflix_df.shape

(7787, 12)

In [178]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [179]:
df=netflix_df.copy()

# **Data Preprocessing**

Director :

In [180]:
type(df.iloc[1]['director'])

str

In [181]:
df['director']=df['director'].fillna('Other')

In [182]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Other,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [183]:
type(df.iloc[0]['director'])

str

Cast :

In [184]:
type(df.iloc[0]['cast'])

str

In [185]:
df['cast']=df['cast'].fillna('Other')

In [186]:
type(df.iloc[0]['country'])

str

In [187]:
df['country']=df['country'].fillna('Other')

Date Added :

In [188]:
type(df.iloc[0]['date_added'])

str

In [189]:
df=df.dropna(subset=['date_added'])

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7777 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7777 non-null   object
 1   type          7777 non-null   object
 2   title         7777 non-null   object
 3   director      7777 non-null   object
 4   cast          7777 non-null   object
 5   country       7777 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7777 non-null   int64
 8   rating        7770 non-null   object
 9   duration      7777 non-null   object
 10  listed_in     7777 non-null   object
 11  description   7777 non-null   object
dtypes: int64(1), object(11)
memory usage: 789.9+ KB

rating :

In [191]:
df=df.dropna(subset=['rating'])

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7770 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7770 non-null   object
 1   type          7770 non-null   object
 2   title         7770 non-null   object
 3   director      7770 non-null   object
 4   cast          7770 non-null   object
 5   country       7770 non-null   object
 6   date_added    7770 non-null   object
 7   release_year  7770 non-null   int64
 8   rating        7770 non-null   object
 9   duration      7770 non-null   object
 10  listed_in     7770 non-null   object
 11  description   7770 non-null   object
dtypes: int64(1), object(11)
memory usage: 789.1+ KB

Convert string values in director, cast, country and listed_in into list.

In [193]:
df['cast'] = df.cast.apply(lambda x: x[:].split(','))
df['director'] = df.director.apply(lambda x: x[:].split(','))
df['country'] = df.country.apply(lambda x: x[:].split(','))
df['listed_in'] = df.listed_in.apply(lambda x: x[:].split(','))

In [194]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,"[International TV Shows, TV Dramas, TV Sci-F...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,"[Dramas, International Movies]",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,"[Horror Movies, International Movies]","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,"[Action & Adventure, Independent Movies, Sci...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,[Dramas],A brilliant group of students become card-coun...

In [195]:
df.iloc[0]['cast']

['João Miguel',
 ' Bianca Comparato',
 ' Michel Gomes',
 ' Rodolfo Valente',
 ' Vaneza Oliveira',
 ' Rafael Lozano',
 ' Viviane Porto',
 ' Mel Fronckowiak',
 ' Sergio Mamberti',
 ' Zezé Motta',
 ' Celso Frateschi']

In [196]:
cast_list=[]
for value in df['cast']:
  for elem in value:
    cast_list.append(elem)

print('Elements in cast column = {}'.format(len(set(cast_list))))

Elements in cast column = 35326

There are 35326 cast members. So we can ignore this or we can consider the primary/ first cast member from the available cast.

In [197]:
director_list=[]
for value in df['director']:
  for elem in value:
    director_list.append(elem)

print('Elements in director column = {}'.format(len(set(director_list))))

Elements in director column = 4581

In [198]:
country_list=[]
for value in df['country']:
  for elem in value:
    country_list.append(elem)

print('Elements in country column = {}'.format(len(set(country_list))))

Elements in country column = 189

In [199]:
listedin_list=[]
for value in df['listed_in']:
  for elem in value:
    listedin_list.append(elem)

print('Elements in listed_in column = {}'.format(len(set(listedin_list))))

Elements in listed_in column = 73

In [200]:
df['rating'].value_counts()

TV-MA       2861
TV-14       1928
TV-PG        804
R            665
PG-13        386
TV-Y         279
TV-Y7        270
PG           247
TV-G         194
NR            83
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

Since Director, cast, country has a large number of values we will consider only primary director, lead cast and prime country values. Also we will implement one hot encoding for listed_in and rating columns.

In [201]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,"[International TV Shows, TV Dramas, TV Sci-F...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,"[Dramas, International Movies]",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,"[Horror Movies, International Movies]","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,"[Action & Adventure, Independent Movies, Sci...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,[Dramas],A brilliant group of students become card-coun...

In [202]:
mlb = MultiLabelBinarizer()

# Encode each genre and join to dataframe
mlb_df = pd.DataFrame(mlb.fit_transform(df.pop('listed_in')),
                                              columns=mlb.classes_,
                                              index=df.index)

In [203]:
mlb_df.columns

Index([' Anime Features', ' Children & Family Movies', ' Classic & Cult TV',
       ' Classic Movies', ' Comedies', ' Crime TV Shows', ' Cult Movies',
       ' Documentaries', ' Docuseries', ' Dramas', ' Faith & Spirituality',
       ' Horror Movies', ' Independent Movies', ' International Movies',
       ' International TV Shows', ' Kids' TV', ' Korean TV Shows',
       ' LGBTQ Movies', ' Music & Musicals', ' Reality TV', ' Romantic Movies',
       ' Romantic TV Shows', ' Sci-Fi & Fantasy', ' Science & Nature TV',
       ' Spanish-Language TV Shows', ' Sports Movies', ' Stand-Up Comedy',
       ' Stand-Up Comedy & Talk Shows', ' TV Action & Adventure',
       ' TV Comedies', ' TV Dramas', ' TV Horror', ' TV Mysteries',
       ' TV Sci-Fi & Fantasy', ' TV Thrillers', ' Teen TV Shows', ' Thrillers',
       'Action & Adventure', 'Anime Features', 'Anime Series',
       'British TV Shows', 'Children & Family Movies', 'Classic & Cult TV',
       'Classic Movies', 'Comedies', 'Crime TV Shows', 'Cult Movies',
       'Documentaries', 'Docuseries', 'Dramas', 'Horror Movies',
       'Independent Movies', 'International Movies', 'International TV Shows',
       'Kids' TV', 'LGBTQ Movies', 'Movies', 'Music & Musicals', 'Reality TV',
       'Romantic Movies', 'Romantic TV Shows', 'Sci-Fi & Fantasy',
       'Spanish-Language TV Shows', 'Sports Movies', 'Stand-Up Comedy',
       'Stand-Up Comedy & Talk Shows', 'TV Action & Adventure', 'TV Comedies',
       'TV Dramas', 'TV Horror', 'TV Sci-Fi & Fantasy', 'TV Shows',
       'Thrillers'],
      dtype='object')

In [204]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [205]:
all_ratings = df['rating'].unique()
OH_rating = pd.DataFrame(OH_encoder.fit_transform(df[['rating']]), columns=all_ratings)

# One-hot encoding removed index; put it back
OH_rating.index = mlb_df.index

# Add one-hot encoded columns to data frame
mlb_df = mlb_df.join(OH_rating)

In [206]:
mlb_df.columns

Index([' Anime Features', ' Children & Family Movies', ' Classic & Cult TV',
       ' Classic Movies', ' Comedies', ' Crime TV Shows', ' Cult Movies',
       ' Documentaries', ' Docuseries', ' Dramas', ' Faith & Spirituality',
       ' Horror Movies', ' Independent Movies', ' International Movies',
       ' International TV Shows', ' Kids' TV', ' Korean TV Shows',
       ' LGBTQ Movies', ' Music & Musicals', ' Reality TV', ' Romantic Movies',
       ' Romantic TV Shows', ' Sci-Fi & Fantasy', ' Science & Nature TV',
       ' Spanish-Language TV Shows', ' Sports Movies', ' Stand-Up Comedy',
       ' Stand-Up Comedy & Talk Shows', ' TV Action & Adventure',
       ' TV Comedies', ' TV Dramas', ' TV Horror', ' TV Mysteries',
       ' TV Sci-Fi & Fantasy', ' TV Thrillers', ' Teen TV Shows', ' Thrillers',
       'Action & Adventure', 'Anime Features', 'Anime Series',
       'British TV Shows', 'Children & Family Movies', 'Classic & Cult TV',
       'Classic Movies', 'Comedies', 'Crime TV Shows', 'Cult Movies',
       'Documentaries', 'Docuseries', 'Dramas', 'Horror Movies',
       'Independent Movies', 'International Movies', 'International TV Shows',
       'Kids' TV', 'LGBTQ Movies', 'Movies', 'Music & Musicals', 'Reality TV',
       'Romantic Movies', 'Romantic TV Shows', 'Sci-Fi & Fantasy',
       'Spanish-Language TV Shows', 'Sports Movies', 'Stand-Up Comedy',
       'Stand-Up Comedy & Talk Shows', 'TV Action & Adventure', 'TV Comedies',
       'TV Dramas', 'TV Horror', 'TV Sci-Fi & Fantasy', 'TV Shows',
       'Thrillers', 'TV-MA', 'R', 'PG-13', 'TV-14', 'TV-PG', 'NR', 'TV-G',
       'TV-Y', 'TV-Y7', 'PG', 'G', 'NC-17', 'TV-Y7-FV', 'UR'],
      dtype='object')

In [207]:
mlb_df.shape

(7770, 87)

In [208]:
mlb_df.head()

,Anime Features,Children & Family Movies,Classic & Cult TV,Classic Movies,Comedies,Crime TV Shows,Cult Movies,Documentaries,Docuseries,Dramas,...,TV-PG,NR,TV-G,TV-Y,TV-Y7,PG,G,NC-17,TV-Y7-FV,UR
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [209]:
gen_df=df.join(mlb_df)

In [210]:
gen_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,TV-PG,NR,TV-G,TV-Y,TV-Y7,PG,G,NC-17,TV-Y7-FV,UR
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# **NLP**

In [211]:
import string
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
%config InlineBackend.figure_format = 'retina'

In [212]:
gen_df.iloc[0]['description']

'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.'

In [213]:
def remove_punctuation(text):
  '''Function to remove punctuations'''
  # replacing the punctuations with no space, 
  # which in effect deletes the punctuation marks
  translator=str.maketrans('', '',string.punctuation)
  # return the text stripped of punctuation marks
  return text.translate(translator)

In [214]:
#Applying the function to each example
gen_df['description'] = gen_df['description'].apply(remove_punctuation)
gen_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,TV-PG,NR,TV-G,TV-Y,TV-Y7,PG,G,NC-17,TV-Y7-FV,UR
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [215]:
gen_df.shape

(7770, 98)

In [216]:
gen_df.iloc[0]['description']

'In a future where the elite inhabit an island paradise far from the crowded slums you get one chance to join the 3 saved from squalor'

As one can see the percentile is removed from the above description.

# **Remove Stopwords**

In [217]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [218]:
# extracting the stopwords from nltk library
sw = stopwords.words('english')
# displaying the stopwords
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [219]:
print('Number of stop words = {}'.format(len(sw)))

Number of stop words = 179

In [220]:
#Removing stopwords
def stopwords(text):
    '''a function for removing the stopword'''
    # removing the stop words and lowercasing the selected words
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [221]:
#applying the stopwords removal function
gen_df['description'] = gen_df['description'].apply(stopwords)
gen_df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,TV-PG,NR,TV-G,TV-Y,TV-Y7,PG,G,NC-17,TV-Y7-FV,UR
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,s6,TV Show,46,[Serdar Akar],"[Erdal Beşikçioğlu, Yasemin Allen, Melis Bir...",[Turkey],"July 1, 2017",2016,TV-MA,1 Season,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,s7,Movie,122,[Yasir Al Yasiri],"[Amina Khalil, Ahmed Dawood, Tarek Lotfy, A...",[Egypt],"June 1, 2020",2019,TV-MA,95 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,s8,Movie,187,[Kevin Reynolds],"[Samuel L. Jackson, John Heard, Kelly Rowan,...",[United States],"November 1, 2019",1997,R,119 min,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,s9,Movie,706,[Shravan Kumar],"[Divya Dutta, Atul Kulkarni, Mohan Agashe, ...",[India],"April 1, 2019",2019,TV-14,118 min,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,s10,Movie,1920,[Vikram Bhatt],"[Rajneesh Duggal, Adah Sharma, Indraneil Sen...",[India],"December 15, 2017",2008,TV-MA,143 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [222]:
gen_df.iloc[0]['description']

'future elite inhabit island paradise far crowded slums get one chance join 3 saved squalor'

In [223]:
gen_df.shape

(7770, 98)

All the stopwords have been removed from the description column.

# **Stemming operation**

In [224]:
# create an object of stemming function
stemmer = SnowballStemmer("english")

def stemming(text):    
    '''a function which stems each word in the given text'''
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

In [225]:
gen_df['description'] = gen_df['description'].apply(stemming)
gen_df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,TV-PG,NR,TV-G,TV-Y,TV-Y7,PG,G,NC-17,TV-Y7-FV,UR
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,s6,TV Show,46,[Serdar Akar],"[Erdal Beşikçioğlu, Yasemin Allen, Melis Bir...",[Turkey],"July 1, 2017",2016,TV-MA,1 Season,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,s7,Movie,122,[Yasir Al Yasiri],"[Amina Khalil, Ahmed Dawood, Tarek Lotfy, A...",[Egypt],"June 1, 2020",2019,TV-MA,95 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,s8,Movie,187,[Kevin Reynolds],"[Samuel L. Jackson, John Heard, Kelly Rowan,...",[United States],"November 1, 2019",1997,R,119 min,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,s9,Movie,706,[Shravan Kumar],"[Divya Dutta, Atul Kulkarni, Mohan Agashe, ...",[India],"April 1, 2019",2019,TV-14,118 min,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,s10,Movie,1920,[Vikram Bhatt],"[Rajneesh Duggal, Adah Sharma, Indraneil Sen...",[India],"December 15, 2017",2008,TV-MA,143 min,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [226]:
gen_df.shape

(7770, 98)

## **Top words after stemming.**

In [227]:
# # create the object of tfid vectorizer
tfid_vectorizer = TfidfVectorizer(stop_words='english')

# # fit the vectorizer using the text data
tfid_vectorizer.fit(gen_df['description'])

# # collect the vocabulary items used in the vectorizer
dictionary = tfid_vectorizer.vocabulary_.items()

In [228]:
# extract the tfid representation matrix of the text data
tfid_matrix = tfid_vectorizer.transform(gen_df['description'])
# collect the tfid matrix in numpy array
array = tfid_matrix.todense()

In [229]:
# store the tf-idf array into pandas dataframe
tfid_df = pd.DataFrame(array)
tfid_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,14093,14094,14095,14096,14097,14098,14099,14100,14101,14102
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [230]:
tfid_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,14093,14094,14095,14096,14097,14098,14099,14100,14101,14102
7765,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7766,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7767,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7768,0.0,0.0,0.0,0.0,0.0,0.0,0.280353,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7769,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [231]:
tfid_df.shape

(7770, 14103)

In [232]:
final_df=gen_df.join(tfid_df)

In [233]:
final_df.shape

(7770, 14201)

In [234]:
final_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,14093,14094,14095,14096,14097,14098,14099,14100,14101,14102
0,s1,TV Show,3%,[Other],"[João Miguel, Bianca Comparato, Michel Gomes...",[Brazil],"August 14, 2020",2020,TV-MA,4 Seasons,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,s2,Movie,7:19,[Jorge Michel Grau],"[Demián Bichir, Héctor Bonilla, Oscar Serran...",[Mexico],"December 23, 2016",2016,TV-MA,93 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,s3,Movie,23:59,[Gilbert Chan],"[Tedd Chan, Stella Chung, Henley Hii, Lawre...",[Singapore],"December 20, 2018",2011,R,78 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,s4,Movie,9,[Shane Acker],"[Elijah Wood, John C. Reilly, Jennifer Conne...",[United States],"November 16, 2017",2009,PG-13,80 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,s5,Movie,21,[Robert Luketic],"[Jim Sturgess, Kevin Spacey, Kate Bosworth, ...",[United States],"January 1, 2020",2008,PG-13,123 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [235]:
final_df.fillna(0,inplace=True)

In [236]:
final_df.shape

(7770, 14201)

In [237]:
final_df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,14093,14094,14095,14096,14097,14098,14099,14100,14101,14102
7782,s7783,Movie,Zozo,[Josef Fares],"[Imad Creidi, Antoinette Turk, Elias Gergi, ...","[Sweden, Czech Republic, United Kingdom, De...","October 19, 2020",2005,TV-MA,99 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7783,s7784,Movie,Zubaan,[Mozez Singh],"[Vicky Kaushal, Sarah-Jane Dias, Raaghav Cha...",[India],"March 2, 2019",2015,TV-14,111 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7784,s7785,Movie,Zulu Man in Japan,[Other],[Nasty C],[Other],"September 25, 2020",2019,TV-MA,44 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7785,s7786,TV Show,Zumbo's Just Desserts,[Other],"[Adriano Zumbo, Rachel Khoo]",[Australia],"October 31, 2020",2019,TV-PG,1 Season,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,[Sam Dunn],[Other],"[United Kingdom, Canada, United States]","March 1, 2020",2019,TV-MA,90 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [238]:
final_df.shape

(7770, 14201)

# **Feature Engineering**

Cast, country and director has been reassigned the primary value among the list of values which is the first index value of the row of that particular column.

In [239]:
final_df.columns

Index([     'show_id',         'type',        'title',     'director',
               'cast',      'country',   'date_added', 'release_year',
             'rating',     'duration',
       ...
                14093,          14094,          14095,          14096,
                14097,          14098,          14099,          14100,
                14101,          14102],
      dtype='object', length=14201)

In [240]:
final_df['cast'] = df['cast'].map(lambda cast: cast[0] if len(cast[0])>1 else cast)
final_df['director'] = final_df['director'].map(lambda director: director[0] if len(director[0])>1 else director)
final_df['country'] = final_df['country'].map(lambda country: country[0] if len(country[0])>1 else country)

In [241]:
final_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,14093,14094,14095,14096,14097,14098,14099,14100,14101,14102
0,s1,TV Show,3%,Other,João Miguel,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,s2,Movie,7:19,Jorge Michel Grau,Demián Bichir,Mexico,"December 23, 2016",2016,TV-MA,93 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,s3,Movie,23:59,Gilbert Chan,Tedd Chan,Singapore,"December 20, 2018",2011,R,78 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,s4,Movie,9,Shane Acker,Elijah Wood,United States,"November 16, 2017",2009,PG-13,80 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,s5,Movie,21,Robert Luketic,Jim Sturgess,United States,"January 1, 2020",2008,PG-13,123 min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [242]:
final_df['date_added']

0          August 14, 2020
1        December 23, 2016
2        December 20, 2018
3        November 16, 2017
4          January 1, 2020
               ...
7782      October 19, 2020
7783         March 2, 2019
7784    September 25, 2020
7785      October 31, 2020
7786         March 1, 2020
Name: date_added, Length: 7770, dtype: object

In [243]:
import datetime
 
# Function to convert string to datetime
def convert(date_time):
  try:
    format = ' %B %d, %Y'  # The format %B %d, %Y
    datetime_str = datetime.datetime.strptime(date_time, format)
  except:
    format = '%B %d, %Y'  # The format %B %d, %Y
    datetime_str = datetime.datetime.strptime(date_time, format)
 
    return datetime_str

In [244]:
final_df['date_added']=final_df['date_added'].apply(convert)

In [245]:
final_df['date_added']

0      2020-08-14
1      2016-12-23
2      2018-12-20
3      2017-11-16
4      2020-01-01
          ...
7782   2020-10-19
7783   2019-03-02
7784   2020-09-25
7785   2020-10-31
7786   2020-03-01
Name: date_added, Length: 7770, dtype: datetime64[ns]

In [246]:
final_df['year'] = pd.DatetimeIndex(final_df['date_added']).year
final_df['month']=pd.DatetimeIndex(final_df['date_added']).month
final_df['date']=pd.DatetimeIndex(final_df['date_added']).day_name()

In [247]:
final_df['year'].value_counts()

2019.0    2136
2020.0    2008
2018.0    1660
2017.0    1198
2016.0     429
2021.0     117
2015.0      79
2014.0      24
2011.0      13
2013.0      10
2012.0       3
2008.0       2
2009.0       2
2010.0       1
Name: year, dtype: int64

In [253]:
final_df.dropna(subset=['year'], inplace=True)

In [254]:
final_df['year'].unique()

array([2020., 2016., 2018., 2017., 2019., 2021., 2015., 2013., 2011.,
       2012., 2014., 2008., 2009., 2010.])

In [255]:
final_df['year']=final_df['year'].astype(np.int64)
final_df['month']=final_df['month'].astype(np.int64)

In [258]:
final_df['type'].value_counts()

Movie      5372
TV Show    2310
Name: type, dtype: int64

In [259]:
final_df[['type_movie','show']]=pd.get_dummies(final_df['type'])

In [264]:
final_df.drop('type',axis=1, inplace= True)

In [267]:
final_df.shape

(7682, 14205)

In [268]:
final_df.drop('date_added',axis=1, inplace= True)

In [269]:
final_df['rating']

0       TV-MA
1       TV-MA
2           R
3       PG-13
4       PG-13
        ...
7782    TV-MA
7783    TV-14
7784    TV-MA
7785    TV-PG
7786    TV-MA
Name: rating, Length: 7682, dtype: object

In [270]:
final_df['duration']

0       4 Seasons
1          93 min
2          78 min
3          80 min
4         123 min
          ...
7782       99 min
7783      111 min
7784       44 min
7785     1 Season
7786       90 min
Name: duration, Length: 7682, dtype: object

In [271]:
final_df['duration'].value_counts()

1 Season     1604
2 Seasons     341
3 Seasons     163
90 min        136
93 min        131
             ...
9 min           1
312 min         1
182 min         1
224 min         1
191 min         1
Name: duration, Length: 216, dtype: int64

In [272]:
def season_to_min(value):
  no_of_avg_ep=5
  runtime_each_ep=55
  if 'Seasons' in value:
    value = value.replace("Seasons",'')
    value = value.replace(" ","")
    total_seasons = int(value)
    each_season_mins = ( no_of_avg_ep * 55 )
    total_mins = (total_seasons * each_season_mins)
    return total_mins
  if 'Season' in value:
    total_mins = (no_of_avg_ep * runtime_each_ep)
    return total_mins
  else:
    value = value.replace("min",'')
    value = value.replace(" ","")
    value=int(value)
    return value

In [273]:
final_df['duration']=final_df['duration'].apply(lambda x: season_to_min(x))

In [274]:
final_df['duration']

0       1100
1         93
2         78
3         80
4        123
        ...
7782      99
7783     111
7784      44
7785     275
7786      90
Name: duration, Length: 7682, dtype: int64